<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("/Content/style.css")" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="@Url.Content("/Content/jquery-1.8.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/script.js")"></script>
</body>
</html>
